<!DOCTYPE html>
<html lang="en">

<head>
  <!--<div></div> -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

  <% include ../public/index.html %>
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="../public/styles/layouts.css" type="text/css" />
    <link rel="stylesheet" href="../public/styles/nav.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>

    <!-- External JS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <!-- App JS -->
    <script type="text/javascript" src="/scripts/app.js"></script>
    <script type="text/javascript" src="/scripts/client.js"></script>


</head>

<body>
  <div class="content" id="content">
    <div class="item-card">
      <div class="items">
        <img src="/images/romantic_bed.png">
      </div>
      <div class="item-title">
        Title<b> price</b>
      </div>
      <div class="item-desc">Description</div>
    </div>
    <div>
      <button class="dislike">
        <i class="fa fa-times"></i>
      </button>
      <button class="like">
        <i class="fa fa-heart"></i>
      </button>
    </div>
  </div>
  <!-- <h1>Meet hot single beds near you!</h1>
  <main>
    <div class="furniture_image">
      <img src="/images/sexy_couch_potato.png">
    </div>
    <a>
      <p>
        Description about furniture pulled from a database, displayed with EJS
      </p>
      <ul>
        <li>Location pulled from database</li>
        <li>Dimensions pulled from database</li>
        <li>Seller pulled from database (little profile image with a link?)</li>
      </ul>
    </a>
    <div class="button">
      <button id="Right" type="submit">Smash</button>
      <button id="Left" type="submit">Pass</button>
    </div>
  </main> -->
</body>

</html>
