<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <%- include ../public/index.html %>
    <title>Items</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="styles/layouts.css" type="text/css" />
    <link rel="stylesheet" href="styles/nav.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <h1 class="page-title">Liked Items</h1>
    <main>
      <!-- Liked images pulled from a database, maybe 10 per page?-->
      <div class="content" id="content">
        <div class="item-card">
          <div class="liked-items">
            <img src="/images/Shoe_chair.png">
            <p class="item-title">ITEM DATABASE.title</p>
            <p class="item-desc">ITEM DATABASE.description</p>
            <button  class="dislike">
              <i class="fa fa-times" aria-hidden="true"></i>
            </button>
          </div>
          <div class="liked-items">
            <img src="/images/tiger_couch.png">
            <p class="item-title">ITEM DATABASE.title</p>
            <p class="item-desc">ITEM DATABASE.description</p>
            <button  class="dislike">
              <i class="fa fa-times" aria-hidden="true"></i>
            </button>
          </div>
          <div class="liked-items">
            <img src="/images/sexy_couch.png">
            <p class="item-title">ITEM DATABASE.title</p>
            <p class="item-desc">ITEM DATABASE.description</p>
            <button  class="dislike">
              <i class="fa fa-times" aria-hidden="true"></i>
            </button>
        </div>
      </div>
    </form>
    </main>
  </body>
</html>
