<!DOCTYPE html>
<html lang="en">

<head>
  <%- include ../public/index.html %>
    <title>Messages</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layouts.css" type="text/css" />
    <link rel="stylesheet" href="/styles/messages.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>

  <!-- CHAT CONTENT -->
<div class="chat">
  <div class="chat-toolbar">
    <div class="chat-buyer">
      <img class="avatar" src="/images/avatars/james.jpg">
      <span>James Bond</span>
    </div>
  </div>
  <div class="chat-content">
    <div class="chat-messages">

      <!-- MESSAGE -->
      <div class="message-row contact">
        <img class="avatar" src="/images/avatars/james.jpg">
        <div class="bubble">
          <div class="message">Hi! Is this item still available?</div>
          <div class="time">3:00pm FIX</div>
        </div>
      </div>

      <div class="message-row me">
        <div class="bubble">
          <div class="message">Yes it is! Do you have any questions about it?</div>
          <div class="time">3:00pm FIX</div>
        </div>
      </div>

      <div class="message-row contact">
        <img class="avatar" src="/images/avatars/james.jpg">
        <div class="bubble">
          <div class="message">Ya, is it in good condition? Has it been in a smoking household?</div>
          <div class="time">3:00pm FIX</div>
        </div>
      </div>
      <!-- / MESSAGE -->

    </div>
  </div>

  <!-- CHAT FOOTER -->
  <div class="chat-footer">

    <!-- REPLY FORM -->
    <div class="reply-form">
      <textarea class="message-text" placeholder="Type your message" name="message"></textarea>
      <button class="send" type="submit">
        <i class="fa fa-paper-plane" aria-hidden="true"></i>
      </button>
    </div>
    <!-- / REPLY FORM -->
  </div>

  <!-- CHAT FOOTER -->
</div>
</body>

</html>
