<!DOCTYPE html>
<html lang="en">

<head>
  <%- include ../public/index.html %>
    <title>Messages</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layouts.css" type="text/css" />
    <link rel="stylesheet" href="/styles/messages.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
</head>

<body>
  <div class="chat-messages">

    <!-- MESSAGE -->
    <div class="message-row me">
        <img class="avatar" src="/images/avatars/Christy.jpg">

      <div class="bubble">
        <div class="message">Your Message</div>
        <div class="time">3:00pm FIX</div>
      </div>
    </div>
    <!-- / MESSAGE -->

  </div>
</body>

</html>
