<!DOCTYPE html>
<html lang="en">

<head>

  <%- include ../public/index.html %>
    <title>Items</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layouts.css" type="text/css" />
    <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
    <link rel="stylesheet" href="/styles/my_listings.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/myListings.js"></script>

</head>

<body>
  <!-- Liked images pulled from a database, maybe 10 per page?-->
  <div class="content" id="content">
    <div class="page-title">My Items
      <div class="item-table">
        <table>

          <tbody id="seller-list">


          </tbody>
        </table>
        <!-- <div class="liked-items">
          <img src="/images/Shoe_chair.png">
          <p class="item-title">ITEM DATABASE.title</p>
          <p class="item-desc">ITEM DATABASE.description</p>
          <button class="dislike">
            <i class="fa fa-times"></i>
          </button>
        </div> -->
        <!-- </div>
    </div>
    <div class="item-card">
      <div class="liked-items">
        <img src="/images/tiger_couch.png">
        <p class="item-title">ITEM DATABASE.title</p>
        <p class="item-desc">ITEM DATABASE.description</p>
        <button class="dislike">
          <i class="fa fa-times"></i>
        </button>
      </div>
    </div>
    <div class="item-card">
      <div class="liked-items">
        <img src="/images/sexy_couch.png">
        <p class="item-title">ITEM DATABASE.title</p>
        <p class="item-desc">ITEM DATABASE.description</p>
        <button class="dislike">
          <i class="fa fa-times"></i>
        </button>
      </div> -->
      </div>
    </div>
  </div>

</body>

</html>
