<!DOCTYPE html>
<html lang="en">

<head>

  <%- include ../public/index.html %>
    <title>Items</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layouts.css" type="text/css" />
    <link rel="stylesheet" href="/styles/nav.css" type="text/css" />
    <link rel="stylesheet" href="/styles/my_listings.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/myListings.js"></script>

</head>

<body>
  <!-- Liked images pulled from a database, maybe 10 per page?-->
  <div class="content" id="content">
    <div class="page-title">My Items
      <form method="GET" action="/new_listing">
        <button class="add" title="Add Item">
          <i class="fa fa-plus"></i>
        </button>
      </form>
      <div class="item-table">
        <table>
          <tbody id="seller-list">
          </tbody>
        </table>
      </div>
    </div>
  </div>

</body>

</html>
