<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <%- include ../public/index.html %>
    <title>Items</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="styles/nav.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/app.js"></script>
  </head>

  <body>
    <h1>Items you've listed!</h1>
    <main>
      <!-- Liked images pulled from a database, maybe 10 per page?-->
      <div class="listed items">
        <img src="/images/shoe_chair.png">
        <p>Link to full profile</p>
      </div>
      <div class="listed items">
        <img src="/images/tiger_couch.png">
        <p>Link to full profile</p>
      </div>
      <div class="listed items">
        <img src="/images/sexy_couch.png">
        <p>Link to full profile</p>
      </div>
    </form>
    </main>
  </body>
</html>
