<!DOCTYPE html>
<html lang="en">

<head>
  <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
    integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous"> -->
  <%- include ../public/index.html %>
    <title>New Listings</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/new_listing.css" type="text/css" />

    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    <script type="text/javascript" src="/scripts/newListing.js"></script>
</head>

<body>
  <div class="create-listing">
    <header class="listing-hdr">Create a New Listing:</header>
    <form action="/api/createNewListing" method="post" id="new-furniture-form" class="new-furniture-form">
      <div class="new-listing">
        <div class="user">
          <img class="avatar" src="/images/avatars/Christy.jpg">
          <div class="name">Christy Churchill</div>
        </div>
        <div class="new-info">
          <input class="photo" type="text" name="photos" placeholder="URL">

          <input class="title" type="text" name="title" placeholder="Title">
          <input class="price" type="number" name="price" placeholder="Price">
          <textarea class="description" name="description" placeholder="Description" cols="30" rows="10"></textarea>
        </div>
      </div>
      <hr>

      <div class="address">
        <input class="street" type="text" name="street" placeholder="Street">
        <select class="country" name="country" data-country-selected="CA">
          <option value="CA">Canada</option>
          <option value="US">United States</option>
          <option value="BR">Brazil</option>
        </select>
        <input class="city" type="text" name="city" placeholder="City">
        <input class="state" type="text" name="province" placeholder="State / Province">
        <input class="postal" type="text" name="post_code" placeholder="ZIP / Postal Code">
      </div>
      <div class="new_furniture_form_wrapper">
        <button>Create</button>
        <a id="furniture-form__cancel" href="#">Cancel</a>
      </div>

    </form>
  </div>
</body>

</html>
