.sidebar {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 350px;
  min-width: 350px;
  font-family: "Lato", sans-serif;
  background-color: white;
  filter: drop-shadow(0 0 2px #707070);
}

.topnav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 100px;
  width: 100%;
  background: linear-gradient(to right, #fd267d, #ff7854);
  filter: drop-shadow(0 0 2px #707070);
}

.logo-container {
  display: flex;
  justify-content: center;
  padding: 20px;
}

.logo {
  height: 30px;
}

.hdr {
  padding: 10px;
  font-family: "Lato", sans-serif;
  font-size: 24px;
  color: black;
}

.nav-body {
  display: flex;
  flex-direction: column;
}

a {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 20px;
  text-decoration: none;
}

.link-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 120px;
  padding-bottom: 160px;
  padding-left: 50px;
  padding-right: 50px;
  color: white  ;
  text-align: center;
  line-height: 35px;
  font-size: 16px;
}

.search {
  padding-top: 50px;
  padding-left: 110px;
}

.search-title {
  font-size: 20px;
}

#filter-input-wrapper {
  display: flex;
  flex-direction: column;
}

.input-block {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.under {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.mid {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.over {
  display: flex;
  flex-direction: row;
  align-items: center;
}
 .filter-label {
   padding-left: 10px;
 }
