nav {
    color: #FFFFFF;
    font-family: 'Lato', sans-serif;
    background-color: white;
    filter: drop-shadow(0 0 2px #707070);
    height: 50px;
    padding: 1.5rem;
    display: fixed;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    position: fixed;
    top: 0;
    width: 100%;
  }

nav a {
    color: white;
    text-decoration: none;
}

.search-form {
    display: fixed;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 75%;
  }
  
.search-form #search-text {
    overflow: hidden;
    margin: 16px;
    padding: 10px;
    width: 100%;
    border-radius: 20px;
  }
  
.search-form #post-search {
    position: absolute;
    right: 30px;
    bottom: 30px;
    font-size: 20px;
    font-weight: 700;
    border: none;
    background-color: transparent;
  }