.chat {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-family: 'Lato', sans-serif;

  .chat-toolbar {
    padding: 8px 16px 8px 16px;
    height: 150px;
    background-color: (#F5F5F5);
    border-bottom: 1px solid;

    .chat-buyer {
      display: flex;
      align-items: center;
      font-size: 24px;
      font-weight: bolder;

      .avatar {
        height: 60px;
        width: 60px;
      }
    }
  }

  .chat-content {
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 100%;
    padding: 15px;
    font-weight: bolder;

    #chat-messages {
      position: relative;
      padding: 0 20px 0 20px;
    }

    .message-row {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      margin: 10px;

      .avatar {
        position: absolute;
        left: -15px;
        margin: 0;
        height: 60px;
        width: 60px;
      }

      .bubble {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 12px;
        max-width: 100%;
        margin-left: 50px;


        .message {
          white-space: pre-wrap;
          line-height: 2;
        }

        .time {
          position: absolute;
          display: none;
          width: 100%;
          font-size: 11px;
          margin-top: 8px;
          top: 100%;
          left: 0;
          white-space: nowrap;
        }
      }

      &.contact {

        .bubble {
          justify-content: flex-end;
          font-weight: lighter;
          padding-left: 10px;
          color: #e0e0e0;
          background-color: rgb(60, 66, 82);
          border-radius: 25px;

          .time {
            color: red;
            margin-left: 12px;
          }
        }
      }

      &.me {
        flex-direction: column-reverse;
        padding-left: 40px;

        .avatar {
          order: 2;
          margin: 0 0 0 16px;
        }

        .bubble {
          font-weight: lighter;
          color: rgba(0, 0, 0, 0.87);
          background-color: #e0e0e0;
          margin-left: auto;
          border-radius: 25px;

          .time {
            justify-content: flex-end;
            right: 0;
            margin-right: 12px;
          }
        }
      }

      &.contact + .me,
      &.me + .contact {
        padding-top: 20px;
        margin-top: 20px;
      }
    }
  }

  .chat-footer {
    display: flex;
    flex-direction: column;
    border-top: 1px solid;
    padding: 8px 16px 8px 16px;
    height: 150px;
    background-color: (#F5F5F5);

    .reply-form {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      position: relative;
      width: 100%;

      #message-text {
        overflow: hidden;
        margin: 16px;
        padding: 10px;
        width: 100%;
        border-radius: 20px;

      }

      .send {
        position: absolute;
        right: 30px;
        bottom: 30px;
        font-size: 24px;
        border: none;
        background-color: transparent;
      }
    }
  }
}
